@import '~bootstrap/scss/bootstrap';
@import 'sidebar';
@import '~izitoast/dist/css/iziToast.css';
@import '~vue2-daterange-picker/dist/lib/vue-daterange-picker.min.css';

.inline {
  display: inline;
}

.form-group-validation-message-list {
  padding-left: 14px;
  margin-bottom: 0;
}